<h1>Check Out !!</h1>

<% @carted_products.each do |carted_product| %>
<div>
<%= carted_product.status %>
Product: <%= carted_product.product.name %>
Quantity: <%= carted_product.quantity %>

||>>||  <%= form_tag("/carted_products", method:'patch') do  %>
<%= hidden_field_tag(:carted_product_id,carted_product.id) %>
<%= submit_tag("delete!") %>
<% end %>

</div>
<% end %>


<br><br><br><br><br><br><br><br><br><br><br><br>
<%= form_tag("/orders", method:"post") do %>
<button type="submit" class="btn btn-primary" >Check out!</button>
<% end %>
