<h1>Hello! These are my products!!!</h1>
<br>
<div class="row products-index">
<% @products.each do |product| %>
  <a href="/products/<%= product.id %>">
    <div class="col-md-4 thumbnail">
       <ul>
         <li><h2><%= product.name %></h2></li>
         <li><%= product.price  %></li>
         <li><%= product.description %></li>
       </ul>
       <img src=<%= product.images %> >
    </div>
  </a>
<% end %>
</div>
