<h1>Hello! These are my products!!!</h1>
<br>
<% @products.each do |product| %>
 <ul>
   <li><h2><a href="/products/<%= product.id %>"> <%= product.name %></a></h2></li>
   <li><%= product.price  %></li>
   <li><%= link_to product.description, "/products/#{product.id}" %></li>
   <li><img src=<%= product.image %>></li>
 </ul>
<% end %>
