
<h2>The categories are:</h2>
<% @product.categories.each do |category| %>
<li><%= category.name %><br></li>
<% end %>

<h2>Product name: <%= @product.name  %></h2>
<h4>Product supplier: </h4>
<div>
<h5>price: <%= @product.price  %></h5>
<h5>tax: <%= @product.tax  %></h5>
<h5>total: <%= @product.total  %></h5>
</div>
<h5><%= @product.sale_message  %></h5>
<h4><%= @product.description %></h4>
<div><img src=<%= @product.images %> alt="missing image"></div>

<h2><a href="/products">Back to Home</a></h2>

  <%   if current_user && current_user.admin %>
    <p><%= link_to "Delete the product", "/products/#{@product.id}", method: 'delete' %>
    </p>

    <p><%= link_to "Update the product", "/products/#{@product.id}/edit" %>
    </p>
  <% end %>
<% if current_user  %>
    <h2> Your Order </h2>


    <%= form_tag("/carted_products",method:"post") do%>
    <div>
    <%= label_tag(:quantity) %>
    <%= text_field_tag(:quantity) %>
    </div>
    <div>
    <%= label_tag(:product_id) %>
    <%= text_field_tag(:product_id, @product.id) %>
    </div>

    <div>
    <button type="submit" class="btn btn-primary" >Add to cart!</button>
    </div>
    <% end %>
<% end %>
