<h1>The single product</h1>

<h2>Product name: <%= @product.name  %></h2>
<div>
<h5>price: <%= @product.price  %></h5>
<h5>tax: <%= @product.tax  %></h5>
<h5>total: <%= @product.total  %></h5>
</div>
<h5><%= @product.sale_message  %></h5>
<h4><%= @product.description %></h4>
<div><img src=<%= @product.image %> alt="missing image"></div>

<h2><a href="/products">Back to Home</a></h2>

<p><%= link_to "Delete the product", "/products/#{@product.id}", method: 'delete' %>
</p>

<p><%= link_to "Update the product", "/products/#{@product.id}/edit" %>
</p>
