<h1>Create a new supplier</h1>
<%= form_tag('/suppliers', method:'post') do %>
<%=  label_tag(:name)%>
<%=  text_field_tag(:name)%>
<br>
<%=  label_tag(:email)%>
<%=  text_field_tag(:email)%>
<br>
<%=  label_tag(:phone)%>
<%=  text_field_tag(:phone)%>
<br>
<%=  label_tag(:supplier_id)%>
<%=  text_field_tag(:supplier_id)%>
<br>
<div>
<%=  submit_tag("submit!!!") %>
</div>
<% end %>
